# dados e artefatos grandes
data/*
!data/README.md
proofs/*
*.zkey
*.ptau
*.wtns
*.r1cs
*.sym
*.wasm
*.json

# Python
__pycache__/
*.py[cod]
.env/
.venv/

# Jupyter/Colab
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
